<div class="Popular_games">
    <h2> Popular Games </h2>
    {{#each game}}
    <a href='/'><img src='{{image}}'></a>
    {{/each}}
</div>
<div class="Upcoming_releases">
    <h2> Upcoming releases </h2>
    {{#each release}}
    <a href='/'><img src='{{image}}'></a>
    {{/each}}
</div>
<div class="Reviews">
    <h2> Reviews </h2>
    {{#each review}}
    <a href='/reviews'>{{reviews}}</a>
    {{/each}}
</div>