.popgames{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    height: auto;

}
.game_library{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    max-height: 50%;
    margin: 5px;
}
.reply {
    border: 2px solid red
}



@media screen  and (max-width: 900px) {
}